<h2 mat-dialog-title>Refactor elements</h2>
<mat-dialog-content>
  <form [formGroup]="refactorForm">
    <div>
      <div *ngIf="title.errors?.required">
        <small>Title required</small>
      </div>
      <input type="text" placeholder="title" class="form-control mb-2" formControlName="title">
    </div>

    <div>
      <div *ngIf="text.errors?.required">
        <small>Text required</small>
      </div>
      <input type="text" placeholder="text" class="form-control mb-2" formControlName="text">
    </div>
    <button mat-dialog-close (click)="onNoClick()" class="btn btn-outline-danger m-lg-2">Cancel</button>
    <button class="btn btn-outline-primary" [disabled]="!!text.errors" (click)="refactorTodo()">Save</button>
  </form>
</mat-dialog-content>

