<div class="container">

  <div class="row">
    <h1 class="text-center">DASHBOARD</h1>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 mb-5">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Enter todo..."
        [(ngModel)]="inputText"
        (keyup.enter)="addTodo()">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h4>To-do</h4>
      <div cdkDropList class="example-list"
           id="list-todo"
           [cdkDropListData]="todo"
           [cdkDropListConnectedTo]="['list-progress']"
           (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="col-lg-4">
      <h4>In progress</h4>
      <div cdkDropList class="example-list"
           id="list-progress"
           [cdkDropListData]="progress"
           [cdkDropListConnectedTo]="['list-todo', 'list-completed']"
           (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of progress" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="col-lg-4">
      <h4>Completed</h4>
      <div cdkDropList class="example-list"
           id="list-completed"
           [cdkDropListData]="completed"
           [cdkDropListConnectedTo]="['list-progress']"
           (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of completed" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</div>


